@charset "utf-8";

body {
    width: 100%;
    height: 100%;
    background-color: #fff;
    color: #666;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #666;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    display: block;
}

img {
    max-width: 100%;
    vertical-align: top;
}

button {
    cursor: pointer;
}

/* 공통영역 */
.inner {
    width: 1340px;
    margin: auto;
}

/* header top영역 */
header {
    width: 100%;
    height: 100px;
}

header .inner {
    display: flex;
    background-color: rgba(253, 228, 118, 0.4);
}

/* 로고 */
.logo {
    width: 250px;
}

.logo a {
    width: 200px;
    height: 100%;
    margin-left: 50px;
}

/* 메뉴 */
.menu {
    position: relative;
    width: calc(100% - 300px);
    height: 100px;
}

.nav {
    position: absolute;
    top: 58px;
    left: 250px;
    display: flex;
    width: 800px;
    line-height: 40px;
    z-index: 1;
    /*꼭 여기를 해야하고, 꼭 .slide>a는  js에서 hide(.slide a를 하면 a범위가 넓어 슬라이딩이 잘 안됨)
    .sub-menu는 css에서 display: none; 해야  slide가 내려옴 */
}

.nav li {
    width: calc((800px - 15px) /4);
    text-align: center;

}

.nav>li>a {
    border: 1px solid #eee;
    background-color: #c0c0c0;
}

.nav>li>a:hover {

    color: #fff;
    font-weight: bold;
    background-color: #949494;
}

.sub-menu {
    display: none;
    background-color: #949494;
}

.sub-menu>li>a:hover {

    color: #fff;
    background-color: #313131;

}

/*메인 이미지 전체영역  */
.slide {
    position: relative;
    width: 100%;
    height: 350px;
    margin-bottom: -50px;
    /*마진을 -50px 해서 아래 배너가 50px 올라감*/
    overflow: hidden;
    /*이미지 전체 영역에서 overflow: hidden해야함*/
}

.slide a {
    width: 100%;
    height: 100%;
}

.slide h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 99;
}

.slide img {
    position: absolute;
    top: 0;
    width: 100%;
    display: inline-block;
    height: auto;
    /* 비율을 유지하면서 높이 자동 조정 */
    object-fit: cover;
    /* 이미지가 영역을 꽉 채우도록 설정 */
}

/* 풋터 */
footer .inner {
    width: 1340px;
    height: 550px;
}

/* 풋터 상단 */
.ft-top {
    position: relative;
    width: 100%;
    height: 430px;
}

/* 베너*/
.banner,
.banner a {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: auto;
    display: inline-block;
    object-fit: cover;
}

.banner span {
    position: absolute;
    top: 75px;
    left: 150px;
    width: 80%;
    height: 100px;
    line-height: 27px;
    letter-spacing: 1.3px;
    z-index: 9999;
    padding-top: 20px;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
}

/* shortcut 링크 */
.shortcut {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    background-color: aquamarine;
}

.shortcut a:hover {
    opacity: .7;
}

.shortcut img {
    width: 40px;
    margin-top: 5px;
}

/*contens  공지사항/갤러리 */
.contens , .c1{
    width: 80%;
    height: 230px;
    position: relative;
    margin-left: 20px;
    /* background-color: #c0c0c0; */
}
.c1 h4{
    width: 150px;
    line-height: 40px;
    text-align: center;
    font-size: 17px;
    float: left;
    transition: all 0.5s;
    background-color: rgba(0, 0, 0, 0.2);
}
.c1 h4.active{
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    display: block;
}
.c1 h4:hover{
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
}
.c1 ul{
    position: absolute;
    top:40px;
    width: 100%;
    line-height: 40px;
    display: none;
}
.c1 ul.active{
    display: block;
}
/* 공지사항 */
.notice li:nth-child(even){
    background-color: rgba(253, 228, 118, 0.4);
}
.notice a:hover{
    font-weight: bold;
}
/* 갤러리 */
.gallery{
    display: none;

}
.gallery li{
    float: left;
    margin-top: 20px;
    margin-right: 10px;
}
.gallery a{
    position: absolute;
    top: 0;
    margin-top:40px ;
    transform: translate(50% ,100%);
    color: #eee;
}
.gallery img{
    width: 150px;
}

/* 풋터 하단 */
.ft-bottom {
    width: 100%;
    height: 120px;
    background-color: rgba(253, 228, 118, 0.4);
}

/* 풋터 하단 logo(왼쪽)*/
.ft-logo {
    width: 250px;
    height: 100%;
    padding: 10px 0;
    float: left;
}

.ft-logo a {
    width: 200px;
    height: 100%;
    margin-left: 50px;
}

/* 풋터 하단 info(오른쪽) */
.info {
    width: calc(100% - 300px);
    height: 100%;
    float: left;
    font-size: 20px;

}

/* 풋터 하단 : 상 :하단메뉴 */
.bt-menu {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bt-menu a {
    width: 140px;
    text-align: center;
    border-right: 1px solid #777;
}

/* 풋터 하단 :하단:copywright */
.copywright {
    width: 100%;
    height: 50%;
    text-align: center;
}

/* 모달창 */
.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}

.modalPop {
    position: absolute;
    top: 33%;
    left: 55%;
    transform: translate(-50%, -50%);
    padding: 30px;
    font-size: 20px;
    background-color: #fff;
    z-index: 9;
    opacity: 2;
}

.modalPop h5 {
    font-size: 25px;
}

.modalPop p {
    padding: 30px;
}

.modalPop button {
    margin-left: 650px;
}
